<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Payment</title>
</head>
<body>
<div th:if="${param.error}">
    Неверное имя или пароль.
</div>
<p><a href="registerclient">Перейти на страницу регистрации клиентов, если вы менеджер</a></p>
<p><a href="registermanager">Перейти на страницу регистрации менеджеров, если вы администратор</a></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>
</body>
</html>